# macos
.DS_Store

# python
.ipynb_checkpoints/*
*/__pycache__/*
.ipynb_checkpoints/*
model/.ipynb_checkpoints/*

# propulate
*.log
*.out
*.error
*.bkp
*.pkl

# ide
.vscode/*

data/*
runs*
*.csv

# trained models
models/*
